{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/404_page.css' %}" />
  </head>
  <body>
    <div class="parenths_shape">
      <div class="shape shape_1"></div>
      <div class="shape shape_2"></div>
      <div class="shape shape_3"></div>
    </div>
    <main>
      <div class="h1-p">
        <h1>404</h1>
      </div>
      <div class="h1-p">
        <div>
          <p>داداشمی ولی این صفحه رو فعععععک نکنم داشته باشیم</p>
          <br />
          <p>شاید بعدا ساختیمش</p>
        </div>
      </div>
    </main>
  </body>
</html>
