{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبسایت فرا آموزشی دیلم 2026</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!--start bg-->

    <div class="parenths_shape">
      <div class="shape shape_1"></div>
      <div class="shape shape_2"></div>
      <div class="shape shape_3"></div>
    </div>

    <!--start header-->

    <header>
      <div class="parent_header">
        <div class="logo">
          <h1><a href="#">🚀 دیلم 2026</a></h1>
        </div>
        <nav>
          <a href="#" class="nav_link nav-link">خانه</a>
          <a href="/blog_pages" class="nav_link nav-link">وبلاگ</a>
          <a href="#about-us" class="nav_link">درباره ما</a>
        </nav>
        <button class="nav_button" id="nav_button">ثبت نام | ورود</button>
      </div>
    </header>
    <div id="toast">
      <p>داریم میسازیمش جیگر</p>
    </div>

    <!--start main-->

    <main>
      <!--seactionhome-->
      <section class="home" id="home">
        <div class="parent_soar">
          <div class="shoar">
            <div class="dot"></div>
            <span>حمایت از جنگل های دیلم</span>
          </div>
        </div>

        <div class="text">
          <h2>
            یادبگیر و رشد کن و<br />
            آینده ساز باش
          </h2>
        </div>
        <div class="p-btn">
          <a href="/blog_pages" class="btn">شروع کن</a>
        </div>

        <div class="amar">
          <div class="box">
            <p>+120</p>
            <p>کاربر فعال</p>
          </div>
          <div class="box">
            <p>+3</p>
            <p>مقاله</p>
          </div>
          <div class="box">
            <p>98%</p>
            <p>رضایت</p>
          </div>
        </div>
      </section>
      <!--start section about-us -->
      <section class="about-us" id="about-us">
        <h2>درباره <span>ما</span></h2>
        <div class="p-about-text">
          <div class="about-text about-text-1">
            نسل نو با هدف ایجاد یک جامعه پویا برای جوانان و نوجوانان ساخته شده
            است. ما باور داریم که هر فردی توانایی یادگیری و رشد دارد و نیاز به
            محیطی مناسب و حمایت‌کننده برای پیشرفت دارد. از طریق دوره‌های آموزشی
            جذاب، مقالات معنادار و جامعه‌ای حامی، ما به نسل جدید کمک می‌کنیم که
            مهارت‌های لازم برای موفقیت در دنیای دیجیتال را کسب کنند.
          </div>

          <div class="about-text contact-form-box">
            <h3 class="contact-form-title">ارسال پیام</h3>
            <form class="contact-form" id="contact-form">
              <div class="contact-form-group">
                <label for="name" class="contact-form-label">نام</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="contact-form-input"
                  required=""
                />
              </div>
              <div class="contact-form-group">
                <label for="email" class="contact-form-label">ایمیل</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="contact-form-input"
                  required=""
                />
              </div>
              <div class="contact-form-group">
                <label for="subject" class="contact-form-label">موضوع</label>
                <input
                  type="text"
                  id="subject"
                  name="subject"
                  class="contact-form-input"
                  required=""
                />
              </div>
              <div class="contact-form-group">
                <label for="message" class="contact-form-label">پیام</label>
                <textarea
                  id="message"
                  name="message"
                  rows="4"
                  class="contact-form-textarea"
                  required=""
                ></textarea>
              </div>
              <div>
                <button
                  type="submit"
                  class="contact-form-btn"
                  id="contact-form-btn"
                >
                  ارسال پیام
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
